@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --primary-color: red;
}

/** root is applied to whole file here. **/ 
/** -- is a variable syntax. To use this variable. we use var(--primary-color). The advantage of using variable is as the name 
suggests that if we change it at variable definition, it changes everywhere it is mentioned. **/

body
{
font-family: 'Montserrat', sans-serif;
}

/** container **/
.container {
    /* padding-left: 1rem;
    padding-right: 1rem; 
    This is replaced by below definition if only two are mentioned it means top and right and the other two will be given 
    values according to top and bottom so here since only left and right is there we use 0 for top and bottom 
    values */
    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/** Links **/ 
/** if you specify only two top details are applied to bottom and right details specifications are applied to left **/

.link {
    text-decoration: none;
    padding: 0.5rem 1rem; 
}

.primary-link {
    color: var(--primary-color);
}
