@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --primary-color: #a855f7;
    --dark-gray: #64748b;
    --off-white: #f3f4f6;
 
}

/** root is applied to whole file here. **/ 
/** -- is a variable syntax. To use this variable. we use var(--primary-color). The advantage of using variable is as the name 
suggests that if we change it at variable definition, it changes everywhere it is mentioned. **/

body
{
font-family: 'Montserrat', sans-serif;
margin: 0px;
/* margin overrules Chrome default values */
}

hr {
    margin: 1rem 0rem;
}

.text-sm {
    font-size: 0.8em;
}

/* * container * */

.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
    /* margin auto keeps thing in center */
}

/* links */

.link {
    text-decoration: none;
    padding: 0.5rem 1rem; 
    margin-right: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius:0.5rem;
    color: white;
    /* for rounded corners use 0.5rem */
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}
/* BEM naming convention Block element modifier  */
/* Colors taken from Tailwind colors */

/* lists */

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/* nav */
.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
}

.navigation .link {
    color: white;
    
}

.navigation .link-active {
    font-weight: bold;
}

.navigation .nav-pills {
    text-align: right;
}

/* Hero */

.hero{
    padding: 2rem;
    padding-top: 5rem;
}

.hero .hero-img {
    max-width: 350px;
    display: block;
    margin: auto;
    /* margin auto brings image in center */
}

.hero .hero-heading {
    padding-top: 1rem;
color: var(--dark-gray);
text-align: center;
}

.hero .hero-heading .heading-inverted{
    color: var(--primary-color);
}

/* Developer screencast mode ctrl shift P */

/* Section */

.section {
    padding: 2rem;
}

/* section h1 will exclusively apply the rule to h1 only
to make it apply for entire section, you need to define it separately as above.
 */
.section h1 {
    text-align: center;
    padding: 2rem;
}
/* beautify file */

.ow{
 background-color: var(--off-white);   
}

/* Div added to sections to enable adding container 
that will help to keep container in center. */

/* footer */
.footer
{
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .footer-header {
    font-weight:bold;
    font-size: large;
}
.footer ul{
    padding-inline-start: 0px;
}

.footer .social-links .link{
    color: white;
}
/* overwriting by finding where is the element. footer then social link and then link. No separate definition made just reused the same class but defined it according to its closest parent. */

