@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --primary-color: red;
}

/** root is applied to whole file here. **/ 
/** -- is a variable syntax. To use this variable. we use var(--primary-color). The advantage of using variable is as the name 
suggests that if we change it at variable definition, it changes everywhere it is mentioned. **/

body
{
font-family: 'Montserrat', sans-serif;
}

hr {
    margin: 1rem 0;
}

.text-sm {
    font-size: 0.8em;
}

/* * container * */

.container-fluid {
    padding-left: 1rem;
    padding-right: 1rem; 
}

.container {
   padding-left: 1rem;
    padding-right: 1rem; 
    max-width: 600px;
    margin: auto;
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem; 
}

.primary-link {
    color: var(--primary-color);
}
