@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --primary-color: #a855f7;
}

/** root is applied to whole file here. **/ 
/** -- is a variable syntax. To use this variable. we use var(--primary-color). The advantage of using variable is as the name 
suggests that if we change it at variable definition, it changes everywhere it is mentioned. **/

body
{
font-family: 'Montserrat', sans-serif;
}

hr {
    margin: 1rem 0rem;
}

.text-sm {
    font-size: 0.8em;
}

/* * container * */

.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
    /* margin auto keeps thing in center */
}

/* links */

.link {
    text-decoration: none;
    padding: 0.5rem 1rem; 
    margin-right: 5px;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius:0.5rem;
    color: white;
    /* for rounded corners use 0.5rem */
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}
/* BEM naming convention Block element modifier  */
/* Colors taken from Tailwind colors */

/* lists */

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/* nav */
.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
}

.navigation .link {
    color: white;
    
}

.navigation .link-active {
    font-weight: bold;
}

.navigation .nav-pills {
    text-align: right;
}